<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <p>OTP for verification</p>
            <p class="otp">{{otp}}</p>
        </div>
    </div>
</body>
</html>